<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/application.css">
  <link rel="stylesheet"
  href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
  <title>Robot World</title>
</head>
  <body>

  <header class="primary-header container group">
    <h1 class="logo">Robot World</h1>
    <nav class="nav primary-nav">
      <ul>
         <li><a href='/'>Dashboard</a></li><!--
      --><li><a href="/robots">All Robots</a></li><!--
      --><li><a href="/robots/new">New Robot</a></li><!--
  --></ul>
    </nav>
  </header>


      <%= yield %>

    <footer class="primary-footer container group">
      <small> Robot World 2016</small>
    </footer>
  </body>
</html>
